.flexdark{
    color: white;
    overflow: auto;
}
.flexlight{
    color: black;
}
.secondClass{
    width: 50%;
}
.topClass{
    width: 75%;
}
.mainFlex{
    height: 90%;
    width: 100%;
}
.carousel-indicators .active {
    background-color: #656565;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23656565%27%3e%3cpath d=%27M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z%27/%3e%3c/svg%3e");
}
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23656565%27%3e%3cpath d=%27M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z%27/%3e%3c/svg%3e")
}
@media(max-width: 1000px){
    .topClass{
        width: 100%;
    }
    .secondClass{
        width: 100%;
    }
}