.bodylight{
    color: black;
}
.bodydark{
    color: white;
}
.typing-text p{
    margin: 0;
    font-size: 46px;
}
.mainCol {
    height: 85%;
}
.typing-text{
    width: 75%;
}
@media (max-width: 1000px) {
    .d-flex p {
      font-size: 38px;
    }
}
  
@media (max-width: 768px) {
    .d-flex p {
      font-size: 32px;
    }
    .typing-text{
        width: 100%;
    }
}

@media (max-width: 576px) {
    .d-flex p {
      font-size: 24px;
    }
}